.sideBar{
    flex: 0.30;
    height :90vh;
    background-color: #f8f5f5;
    }
.sideBarHeader{
    background-color: var(--primary-color);
    justify-content: space-between;
    padding:10px 25px;
}
.SideBarSearchBox{
    background-color: #fcfafa;
    padding:15px;

}
.SideBarSearchBox .searchBox{
    width: 95%;
    height: 90%;
    background-color: var(--secondary-color);
    padding: 5px 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 128, 128, 0.473);
}
.SideBarSearchBox .searchBox>input{
    padding:0 20px;
    flex:1;
    border: none;
    outline: none;
    background: transparent;
}
.searchBox>input::placeholder{
    color: rgb(25, 196, 196);
}
.sideBarUserBox,.sideBarResultBox{
    flex: 1;
}
.userCard,.resultCard{
    background-color: var(--secondary-color);
    border-bottom: 1px solid rgb(4, 207, 207);
    justify-content: space-between;
    padding:2px 20px;
    transition: all 0.3s;
    cursor: pointer;
}
.userCardMain{
    justify-content: flex-start;
    flex: 1;
}
.userCardMain .userCardMainDetails{
   flex: 1;
    margin-left: 15px;
}
.userCardMainDetails p{
    color: var(--secondary-text-color);
    font-size: 12px;
    font-weight: 500;
    max-width:70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.userCardMainDetails h3{
    color: var( --primary-text-color);
    font-size: 14px;
}
.userCardTimeStamp{
    font-size: 12px;
    color: var(--secondary-text-color);
    height: 8vh;
}
.userCard:hover,.resultCard:hover{
    background-color: #E9EAEB;
}
.searchIcon{
    color: rgb(37, 155, 155);
}
.activeUser{
    background-color:  var(--primary-color);
}
.noContacts{
    justify-content: center;
    align-items: center;
}
.noContacts>h3{
    font-size: 16px;
    color: var(--primary-text-color);
}
.noContacts>p{
    font-size: 14px;
    color: var(--secondary-text-color);
}

.resultCard>.flexBox>*{
    margin: 0 5px;
}
.resultCard button{
    padding:5px 10px;
    border: none;
    background-color: rgb(51, 148, 51);
    color: white;
    transition: all 0.3s;
}
.resultCard button:hover{
    background-color: green;
    box-shadow: 0px 0px 5px green;
}
.resultCard h3{
    font-size: 14px;
    color: var(--primary-text-color) ;
}
.resultCard small{
    font-size: 10px;
    color: var(--secondary-text-color) ;
}
.noResult{
    background-color: var(--primary-color);
    padding: 20px;
}
.noResult *{
    margin:0 5px;
}
.userName{
    width: fit-content;
}
.userName>*{
    margin-right: 5px;
}
.newMessageDot{
background-color: #128C7E;
padding:0 5px;
font-size: 10px;
border-radius: 50%;
color: white;
text-align: center;
min-height: 15px;
min-width: 15px;
}