.sideBar{
    flex: 0.30;
    height :90vh;
    background-color: #f8f5f5;
    }
.sideBarHeader{
    background-color: var(--primary-color);
    justify-content: space-between;
    padding:10px 25px;
}
.SideBarSearchBox{
    background-color: #fcfafa;
    padding:15px;

}
.SideBarSearchBox .searchBox{
    width: 95%;
    height: 90%;
    background-color: var(--secondary-color);
    padding: 5px 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 128, 128, 0.473);
}
.SideBarSearchBox .searchBox>input{
    padding:0 20px;
    flex:1;
    border: none;
    outline: none;
    background: transparent;
}
.searchBox>input::placeholder{
    color: rgb(25, 196, 196);
}
.sideBarUserBox{
    flex: 1;
}
.userCard{
    background-color: var(--secondary-color);
    border-bottom: 1px solid rgb(4, 207, 207);
    justify-content: space-between;
    padding:2px 20px;
    transition: all 0.3s;
    cursor: pointer;
}
.userCardMain{
    justify-content: flex-start;
    flex: 1;
}
.userCardMain .userCardMainDetails{
   flex: 1;
    margin-left: 15px;
}
.userCardMainDetails>p{
    color: var(--secondary-text-color);
    font-size: 12px;
    font-weight: 500;
}
.userCardMainDetails>h3{
    color: var( --primary-text-color);
    font-size: 14px;
}
.userCardTimeStamp{
    font-size: 12px;
    color: var(--secondary-text-color);
    height: 8vh;
}
.userCard:hover{
    background-color: #E9EAEB;
}
.searchIcon{
    color: rgb(37, 155, 155);
}
.activeUser{
    background-color:  var(--primary-color);
}
.noContacts{
    justify-content: center;
    align-items: center;
}
.noContacts>h3{
    font-size: 16px;
    color: var(--primary-text-color);
}
.noContacts>p{
    font-size: 14px;
    color: var(--secondary-text-color);
}