.login{
    flex: 1;
    background-color: var(--primary-color);
    height: 100%;
    padding: 20px;
    padding-top: 50px;
}
.login>h1{
    margin: 20px;
    color: var(--primary-text-color);
}
.login button{
    padding:5px 20px;
    border-radius: 50px 50px 0px 50px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    background-color: #189D0E;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 128, 0, 0.452);
    transition: all 0.3s;
}
.login button:hover{
    background-color: #168a0e;
    box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.719);
}
.login>p{
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-top: auto;
}