:root {
  --primary-color: #ECE5DD;
  --secondary-color: #FFFFFF;
  --primary-text-color:  rgb(0, 61, 61);
  --secondary-text-color: teal;
}

.app{
  width: 90vw;
  height: 90vh;
  margin: auto;
  margin-top: 20px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.575);
  border: 1px solid teal;
}

.flexBox,.app{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.scroll{
  overflow: auto;
  scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.11);
	background-color: var(--secondary-color);
}

.scroll::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F5F5F5;
}